/*=============================================================
 PART 1
 Updating the css color schema for:
  - the collection miroir
  - its children (unless otherwise specified)
 =============================================================*/
/* Using themes TODO working in dev but not in build :
[data-theme="red"] {
  --text-color: #4051b5;
  --fill-color: #4051b5;
}*/
/* Using css variables */
:root {
    --text-color: #8f0e21;
    --fill-color: #8f0e21;
}

/*=============================================================
 PART 2
 Updating the css of specific elements (HTML) for:
  - the collection miroir
  - its children (unless otherwise specified)
 =============================================================*/

.title{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  h4{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
  }
  h4.edition{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
    margin: 38px 0 10px 0;
  }
.msIdentifier {
    text-align: center;
    color: #999;
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0 1ex 2ex;
  }

div.msIdentifier
{
    font-weight: bold;
    margin-bottom: 1em;
    display:inline-block;
}

span
{
    padding-right: 3px;
}

.dateline
{
    display:inline-block;
    text-indent: unset;
}

.head.manuscrit{
    color:black;
    font-weight: bold;
    font-size: 2em;

}

.head.imprime{
    color:black;
    font-weight: bold;
    font-size: 2em;
}
li.witness .msIdentifier{
 font-size: inherit;
 display: inline-block;
}

li.witness a{
    display: inline-block;
   }

.msIdentifier{
    font-weight: bold;
    padding: 1em 0 1ex 2ex;
    font-size: larger;
    text-align: inherit;
    color: black
}

table,
td {
    border: 1px solid #333;

}

table th{
    background-color: #333;
    color: #fff;
    text-align: center;
}
tr.msItem {font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;font-size:12px;line-height: normal;margin-bottom:1em;}

span.locus {display: block;}

th.locus{
    width: 15%;
}

th.incipit{
    width: 40%;
}

div.incipit{
    padding-top: 1.5em;
}

h4.head.manuscrit{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
    font-size: 1.5em;
}

h4.head{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
    font-size: 1.5em;
}

h4.incipit{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
    font-size: larger;
    padding-bottom: 1em;
}

h3.head.soustraduction{
    font-size: 2em;
}

h5.titleMsPart{
    font-size: 1.5em;
    font-weight: bold;
}

h5{
    font-size: 140%;
}

.highlight{
    background: yellow;
    font-weight: inherit;
  }
/**/

/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #006a00;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #aa0d91;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
  color: #1c00cf;
}

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}


div.msItem {font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;font-size:12px;line-height: normal;margin-bottom:1em;}
div.msItem cite.title {font-weight: bold;}
div.msItem p {text-indent:0;margin-top:0.3em;}
ul.poList > li.bibl {margin-top:1em;}
footer.note {margin-left:1.5em;padding-left:0.5em;border-left:dotted 1px;}