/*=============================================================
 PART 1
 Updating the css color schema for:
  - the collection CLEM
  - its children (unless otherwise specified)
 =============================================================*/
/* Using themes TODO working in dev but not in build :
[data-theme="red"] {
  --text-color: #4051b5;
  --fill-color: #4051b5;
}*/
/* Using css variables */
:root {
    --text-color: #8f0e21;
    --fill-color: #8f0e21;
}

/*=============================================================
 PART 2
 Updating the css of specific elements (HTML) for:
  - the collection CLEM
  - its children (unless otherwise specified)
 =============================================================*/
.about > h1 {
  font-style: italic !important;
}
button {
  &.expanded {
    fill: var(--fill-color)
  }
}

h3 {
    color: var(--text-color) !important;
}

.bibl {
    font-family: "Libre Baskerville", serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    color: #5f5f5f !important;
}


/*=============================================================
 PART 3
 Updating the css of the DTS API tei response for:
  - the collection CLEM
  - its children (unless otherwise specified)
 =============================================================*/
.document-views > * {
  .row:not(.remove-bottom-padding):not(.bottom-toc) {
    & tei > div {
      margin: 20px 100px 20px 100px;
      padding: 30px 30px 44px;
      border-radius: 5px;
      border: 1px solid #d8d0be;
      box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
      background: url('../images/piece_fond.jpg') center top #fffbf5;
      text-align: center;
      color: #3e3b36;
      @media screen and (max-width: 500px) {
        margin: 20px 5px 20px 5px;
      }
    }
    & tei > div > p {
      text-align: center;
      font-size: larger;
      padding-top: 14px;
      padding-left: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      margin-bottom: 0.5em;
      margin-top: 1em;
      font-variant: small-caps;
      color: #4e4940;
      text-shadow: 1px 2px 2px #bbb;
    }
  }
  head, trailer, label {
    font-family: "Linux Libertine", "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: larger;
    color: #4e4940;
    text-shadow: 1px 2px 2px #bbb;
    background-color: transparent;
    padding-left: 0 !important;
  }
  l {
    white-space: normal;
    font-variant: normal;
  }
  stage, sp, s {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0;
    font-family: "Linux Libertine", "Times New Roman", Times, "Liberation Serif", FreeSerif, serif !important;
  }
  stage, sp {
    font-variant: small-caps;
    & > p {
      margin-top: 16px;
    }
  }
  speaker {
    font-weight: normal;
  }
  speaker > hi[rend] {
    font-style: italic;
    color: #827E62;
  }
  stage {
    color: #827E62;
  }
  s {
    font-variant: normal;
    padding-left: 5px;
    & > hi {
      background-color: transparent;
      color: #3e3b36;
    }
  }
  span.left {
    font-weight: bold !important;
  }
}
