div.msItem {font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;font-size:12px;line-height: normal;margin-bottom:1em;}
div.msItem cite.title {font-weight: bold;}
div.msItem p {text-indent:0;margin-top:0.3em;}
ul.poList > li.bibl {margin-top:1em;}
footer.note {margin-left:1.5em;padding-left:0.5em;border-left:dotted 1px;}